@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  /* border: 1px fuchsia solid; */
}
 


